.Nav {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: $onPrimary;
    margin-top: 0;
    width: 100vw;
    box-shadow: 0 1px 5px #000;
    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
    }
    &__logging {
        display: flex;
        align-items: flex-end;
        margin: 0;
        &__btn {
            align-self: center;
            justify-self: center;
            margin: 1rem;
            padding: 1rem;
            background-color: $onSecondary;
            border-radius: 1rem;
            color: $secondary;
            transition: color 0.3s;
            cursor: pointer;
            transition: all 0.4s;
            @include shadow;
            &:hover {
                background-color: saturate($color: $secondary, $amount: 50);
                color: saturate($onSecondary, 15);
                border-radius: 2rem;
            }
        }
    }
}