.AddButton {
    background-color: $primary;
    color: $onPrimary;
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-out;
    &:hover {
        background-color: saturate($color: $secondary, $amount: 25);
        color: saturate($color: $onSecondary, $amount: 25);
        font-weight: bolder;
        cursor: pointer;
        @include shadow;
        span {
            display: none;
        }
        &::after {
            content: "+";
        }
    }
}