html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $bg;
    min-height: 100vh;
}
ul {
  list-style: none;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  position: inherit;
  width: 100vw;
  bottom: 0;
  padding: 1rem;
  background-color: $primary;
  color: $onPrimary;
  text-align: center;
  @include shadow;
}

